@model GreetMe_DataAccess.Model.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreparationDecription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparationDecription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingRoom.Decription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
